---
layout: blog
description: Stories of free & open source operating systems and desktop environments.
pagination: 
  enabled: true
---
<div class="blog">
<h2>Open Source Stories</h2>

{% for post in paginator.posts %}
  <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
  <div class="date">{{ post.date | date_to_string}}</div>
  <p>{{ post.content | strip_html | truncatewords: 30, '...'}}</p>
  <hr>
{% endfor %}
    <div class="page-nav">
    {% if paginator.page_trail %}
      <ul class="pagination">
      {% for trail in paginator.page_trail %}
        <li class="page-item{% if page.url == trail.path %} active{% endif %}">
            <a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    </div>
</div>
