body {
    margin: 0
}

#root {
    padding: 1rem;
}

.common-bg {
    font-family: sans-serif;
}

.menu-container {
    max-width: 540px;
    margin: auto;
    text-align: center;
    padding-top: 0;
}

.menu-container .external-buttons {
    margin-top: 2rem;
}

.menu-container .external-buttons .button {
    background-color: #f1c40f;
}

p {
    text-align: left;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.logo {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    border-bottom: 3px dotted #dde6dd;
}

.button {
    background-color: #07bc0c;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    color: black;
    display: block;
    text-decoration: none;
}

.button.special {
    background-color: #ff007c;
}

.menu-section p {
}

.menu {
    text-align: left;
}

.menu-container ul {
    text-align: left;
}

.menu-container ul li {
    line-height: 1.5rem;
}

.menu-container ul li p{
    text-align: center;
}

.menu a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #dde6dd;
}

.menu a p {
    font-size: .9rem;
    padding: 0;
    margin: 0;
    text-transform: initial;
    text-align: center;
    color: #ccc;
}

.menu a {
    color: #ddd;
    text-decoration: none;
    background-color: #555;
    text-align: center;
    background: radial-gradient(#000,#333);
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: block;
}

.banner {
    text-align: center;
}

.banner img {
    width: 270x;
    height: 104px;
}

.sub {
    font-weight: normal;
}

p.hint {
    color: #999;
    font-size: 14px;
}

.legal {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #555;
}

.legal a {
    color: #dde6dd;
    text-transform: uppercase;
}

footer {
    color: #dde6dd;
    border-top: 1px solid #555;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

header, footer {
    background: #3339;
}


h2 {
    font-weight: normal;
    margin: auto;
    text-align: left;
}

.ads {
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}

html {
    background: radial-gradient(#cce511,#239d0f);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

/** Loader **/
.Loader_Loader__JtD0o {
    align-items: center;
    background-color: #000c;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    display: none;
}

.Loader_Loader__JtD0o p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.Loader_Loader__JtD0o .Loader_loader__pvYRd {
    -webkit-animation: rotation 2s linear infinite;
    animation: rotation 2s linear infinite;
    border-color: #fff;
    border-radius: 50%;
    border-style: solid solid dotted dotted;
    border-width: 3px;
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    position: relative;
    width: 48px;
}

.Loader_Loader__JtD0o .Loader_loader__pvYRd:after {
    -webkit-animation: rotationBack 1s linear infinite;
    animation: rotationBack 1s linear infinite;
    border: 3px #ff3d00;
    border-radius: 50%;
    border-style: solid solid dotted;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    height: 24px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 24px;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 
/** Loader ends **/