<nav class="container-fluid navbar navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" href="{{site.url}}"><img width="24" src="/assets/images/meta/icon.png" alt="logo" />OpenSourceFeed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#osfnavbar" aria-controls="osfnavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="osfnavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/distribution/">Operating System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/desktop/">Desktop Environment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/screenshots/">Screenshots
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page-hit-rank/">Page Hit Rank</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/privacy-policy/">Privacy Policy</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav social-icons">
      <li> <a rel="nofollow" title="Follow us on Mastodon" target="_blank" href="https://floss.social/@opensourcefeed">
          <img height="25" alt="Mastodon Link" src="/assets/images/meta/mastodon.png"> </a> </li>
      <li> <a rel="nofollow" title="Send us Email" target="_blank" href="mail:contact.opensourcefeed@gmail.com"> <img
            height="25" alt="Email ID" src="/assets/images/meta/email.png"> </a> </li>
      <li> <a rel="nofollow" title="Like us on facebook" target="_blank"
          href="https://www.facebook.com/opensourcefeed/">
          <img height="25" alt="FB Link" src="/assets/images/meta/facebook.png"> </a> </li>
      <li> <a rel="nofollow" title="Follow us on Twitter" target="_blank" href="https://twitter.com/opensourcefeed">
          <img height="25" alt="Twitter Link" src="/assets/images/meta/twitter.png"> </a> </li>
      <li> <a rel="nofollow" title="Subscribe our YouTube channel" target="_blank"
          href="https://www.youtube.com/c/DistroScreens"> <img height="25" alt="YouTube Channel"
            src="/assets/images/meta/youtube.png">
        </a> </li>
      <li> <a title="Subscribe for our RSS" target="_blank" href="/feed.xml"> <img height="25" alt="RSS Link"
            src="/assets/images/meta/rss.png"> </a> </li>
      <li> <a rel="nofollow" title="Subscribe us on Telegram" target="_blank" href="https://t.me/opensourcefeedOrg">
          <img height="25" alt="Telegram Link" src="/assets/images/meta/telegram.png"> </a> </li>
      <li> <a rel="nofollow" title="Follw us on Instagram" target="_blank"
          href="https://www.instagram.com/opensourcefeed/">
          <img height="25" alt="Instagram Link" src="/assets/images/meta/instagram.png"> </a> </li>
    </ul>
  </div>
</nav>