@font-face {
  font-family: "Roboto Condensed";
  src: url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700") format('embedded-opentype');
}

* {
  font-family: 'Roboto Condensed', sans-serif
}
header {
  padding: 20px 0 0;
  background: #272b35;
  font-weight: 500
}
header a, header a:hover {
    color: white;
    text-decoration: none;
}
header h2 {
  font-size: 1.6rem;
  margin: 0;
}

header p {
  font-size: 0.9rem;
}

.navbar {
  border-radius: 0
}

.nav-item:hover {
  color: rgba(255, 255, 255, 1);
  transition: color 0.5s ease;
}

.post-thumbnail {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
}
.post-thumbnail h2 {
    font-size: 1.4rem;
}
.post-thumbnail p {
  text-align: justify;
}

.post-header h1 {
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center
}

.post-header .category {
    color: #272b35;
    border: 1px solid #ddd;
    padding: 5px;
}

.post-content img {
    max-width: 100%;
    display: block;
    margin: auto
}

.post-content p {
  text-align: justify
}

.blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.0rem;
    background: #eee;
    text-align: justify;
}

/* SIDEBAR */
.sidebar {
  padding-top: 20px;
}
.sidebar h2 {
    overflow: hidden;
    position: relative;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    background: #fff;
    border-bottom: 2px solid #444;
    transition: All .3s ease-out;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar li {
  border: 1px solid #eee;
  padding: 10px;
  transition: background 0.5s ease;
}

.sidebar a {
  color: #0275d8;
}

.sidebar a:hover, .sidebar a:focus {
  text-decoration: none;
}

.sidebar li:hover {
  background: #eee;
}

/* PAGE */
.logo {
  max-width: 240px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.preview {
  width: 100%;
  text-align: center;
  margin: auto;
}

/* FOOTER */
footer {
  text-align: center;
  background: #272b35;
  color: white;
  padding: 10px 0 10px 0;
}