/* Nested navbar */
body {font-size: 1.1rem; line-height: 2rem; background: #f7f7f7}
main {background: white}
a {color: #00407f}
a:hover {color: #4a86cf}
.bg-dark {background-color: #00407f !important}
.navbar-dark .navbar-nav .nav-link {color: #eee}
.navbar-brand img {width: 24px; margin-right: .5rem}
.navbar-small {padding: 0rem 1rem; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-bottom: none; position: fixed; top: 0; width: 100%; z-index: 100}
.navbar-small .navbar-brand {font-size: 1.1rem}
.navbar-small .nav-link {font-size: 1rem}
.navbar-small .social-icons img {height: 32px}
.nvabar-toggler {border: none}
/* end of navbar */

/* From elementary blog - start*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    font-weight: bold;
}
p {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
/* From elementary blog - end*/

#master-section {
  background-color: #00407f;
  text-align: center;
  padding: 10vh 0 12vh 0;
}
#master-section h1 {
  color: #4a86cf;
  font-weight: normal;
}
.description {
  color: #dddddd;
  font-size: 1.1rem;
}
#search-btn {
  height: 100%;
}
#search-area {
  height: 4rem;;
  margin: 2rem 0 2rem 0;
}
#search-field {
  border-radius: 0px;
}
#result-list {
  background: white;
  text-align: left;
  list-style: none;
  font-size: 1.2rem;
  position: absolute;
  z-index: 1;
  display: none;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #ddd;
}
#result-list ul { padding-left: 0; margin-bottom: 0}
#result-list li{
  list-style: none;
}
#result-list a {
  display: block;
  height: 100%;
  padding: 0.5rem 0.8rem;
}
#result-list a:hover {
  background: #4a86cf;
  color: white;
  text-decoration: none;
}
.lead-link a{color: white; display: block; margin-top: 1rem; border: 1px solid #888; transition:background 0.5s}
.lead-link a:hover {background: rgba(256, 256, 256, 0.2)}
/* Stories*/
.stories h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.stories h3 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: auto;
  margin-bottom: .5rem
}
.stories a:hover {
  text-decoration: none;
}
.stories p {
  color: #111;
}
.stories .story {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 5px 1px rgba(17,17,17,0.2);
  padding: 1rem;
}
.stories .story img{
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.story p{font-size:16px; line-height: 1.5rem}

/**old styles**/
.social-icons img{height:25px;}
.social-icons, .social-icons li{display:inline;}
.post-header h1{font-size:2rem;padding-top:40px;text-align:center}
.post-header .category{border:1px solid #ddd;padding:5px}
.post-header .post-meta {font-size: 0.9rem}
.post-header a:hover{text-decoration:none}
.post-content img{max-width:100%;display:block;margin:auto}
.lastUpdated{font-size:16px;color:#777;}
blockquote{border-left: 5px solid #ccc; padding: 1rem; background: #eee}
blockquote li{margin-bottom: .25rem}
.related h3{font-size:1.2rem;}
.logo{max-width:240px;text-align:center;margin:auto;margin-bottom:20px;}
.preview{width:100%;text-align:center;margin:auto;}
.story-listing h3{font-size:1.3rem;}
.story-listing h4{font-size:1.0rem;color:black}
table ul{list-style-type:none;padding-left:0}
table td + td {word-break: break-word}
.status-active{color:green;}
.status-discontinued{color:red;}
footer{text-align:center;background:#00407f;color:white;padding:5px 0 5px 0; width: 100%}
footer .email {font-size: 1rem}
footer .email img {height: 1em; margin-right: .5rem}
.heading {
  margin-top: 1rem;
}
.listing {
  text-align: center;
}
.listing a {color: #0079C1}
.item {border: 1px solid #ddd;display: ruby; padding: 10px; line-height: 45px; transition:background 0.5s ease;cursor:pointer;background:#ECEFF1;}
.item:hover {background: #CFD8DC}
.item a{color:black;}
.item a:hover, .item a:focus{text-decoration:none;}
.hidden{display:none}
.center{text-align:center}
.blog {padding-top: 20px}
.blog h3, .blog h2{font-weight: normal;margin: 1rem 0 .5rem}
.blog h2{margin:0;text-transform:uppercase;border-bottom:1px solid #888;margin-bottom:1rem;}
.blog h3 a{font-size: 20px; margin: 1rem 0 .5rem}
.blog h3 a:hover {text-decoration: none}
.blog .date {text-align: right;font-size: 12px}
.page-link, .page-link:focus, .page-link:hover {color: #607D8B}
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {background:#607D8B;border-color:#607D8B;}
.blog .page-nav {text-align: center}
.comment-area h3 {font-size: 1.3rem;}
main {border: 1px solid #eee}
main h2 {font-size: 1.5em; color: #173f4f}
main h3 {font-size: 1.17em; opacity: 0.8}
main h4 {font-size: 1em}
main .recent-stories ul{list-style-type: none; padding-left: 0}
.recent-stories a {color: #069}
.recent-stories a:hover {color: #4a86cf}

/* Override bootstrap defaults */
.form-control {
  border-radius: none;
}
.form-control:focus {
  box-shadow: none;
}

.distribution h1, .desktop h1, .screenshots h1 {font-size:  1.5rem; margin-top: 1rem; text-align: center}
.distribution h2 {border-bottom: 1px solid #eee; margin-top: 2rem; margin-bottom: 1rem}
.screenshots h2 {font-weight: normal; font-size: 1.3em; border-bottom: 1px solid #eee}
.screenshots ul {list-style-type: none; padding-left: 0}
.screenshots a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; display: inline-block;}
pre.highlight {background: #173f4f; color: white; padding: 1rem}
p img+em {display: block;text-align: center; border-bottom: 1px dashed #eee; font-style: normal; font-size: 15px}
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* Download link starts */
a.download {
    background: #00407f;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding: .5rem;
    border-radius: .4rem;
    width: max-content;
    width:fit-content;
    transition: 1s background ease;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
a.download:hover {
    text-decoration: none;
    background: #00407fdd;

}
/* Download link ends */

.more-stories {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

@media (max-width: 430px) {
  #search-field {
    font-size: 0.8rem;
    font-weight: normal
  }
  #search-btn {display: none}
  body {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  blockquote ul {
    padding-left: 1rem;
  }
}

@media (max-width: 240px) {
  .navbar {
    padding: 0rem 0.2rem;
  }
}

/* Tab Display Fix */
.tab-content>table.active {
    display: inline-table;
}
.donate {
  background: #ffc439;
  border-radius: 1rem;
}
.lead-link a.donate:hover {
  background: #ffc439dd;
}
.lead-link a.donate {
  color: black;
  border: none
}

/*Manjaro inspired design*/
.blog .card-body {
  font-size: 14px;
  background-color: #2c2c2c;
  padding: 1.25rem;
}
.blog a .card-text {
  margin: 0;
  color: #cecccc;
  line-height: 1.5;
  font-family: open sans,sans-serif;
}

.blog a.card {
  color: #2c2c2c;
  border: none;
  margin: .5rem 0rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .25s ease; /* Safari and Chrome */
  -moz-transition: all .25s ease; /* Firefox */
  -ms-transition: all .25s ease; /* IE 9 */
  -o-transition: all .25s ease; /* Opera */
  transition: all .25s ease;
}

.blog a.card:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  z-index: 5;
}

.blog .card .card-title {
  padding: 1.25rem;
  margin-bottom: 0;
  border-bottom: 3px solid #ffab00;
  font-size: 16px;
  font-family: open sans,sans-serif;
}

.blog .card .date-container {
  text-align: right;
  position: relative;
  margin-top: -43px;
}

.blog .card .date {
  padding: 2px 4px;
  background-color: #e91e63;
  color: #fff;
  font-size: 12px;
  margin-top: 11px;
  float: left;
  border-radius: 2px;
  width: auto;
  line-height: 1.5;
}
.blog .card .mock {
  height: 3rem;
}