/* Nested navbar */
body {font-size: 1.1rem; line-height: 2rem}
a {color: #164b78}
a:hover {color: #35b9ab}
.bg-dark {background-color: #173f4f !important}
.navbar-dark .navbar-nav .nav-link {color: #eee}
.navbar-brand {color:white !important;}
.navbar-small {padding: 0rem 1rem; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-bottom: none}
.navbar-small .navbar-brand {font-size: 1.1rem}
.navbar-small .nav-link {font-size: 1rem}
.navbar-small .social-icons img {height: 25px}
.nvabar-toggler {border: none}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
/* end of navbar */

#master-section {
  background-color: #173f4f;
  text-align: center;
  padding: 20vh 0 10vh 0;
}
#master-section h1 {
  color: #35b9ab;
}
.description {
  color: #dddddd;
  font-size: 1.2rem;
}
#search-btn {
  height: 100%;
}
#search-area {
  height: 4rem;;
  margin: 2rem 0 2rem 0;
}
#search-field {
  font-weight: bold;
  border-radius: 0px;
}
#result-list {
  background: white;
  text-align: left;
  list-style: none;
  font-size: 1.2rem;
  position: relative;
  z-index: 2;
  display: none;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #ddd;
}
#result-list ul { padding-left: 0; margin-bottom: 0}
#result-list li{
  list-style: none;
}
#result-list a {
  display: block;
  height: 100%;
  padding: 0.5rem 0.8rem;
}
#result-list a:hover {
  background: #35b9ab;
  color: white;
  text-decoration: none;
}
/* Stories*/
.stories h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.stories h3 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: auto;
  margin-bottom: .5rem
}

.stories .story {
  padding-bottom: 1rem;
}
.story p{font-size:16px; line-height: 1.5rem}

/**old styles**/
.social-icons img{height:35px;}
.social-icons, .social-icons li{display:inline;}
.post-header h1{font-size:1.6rem;padding-top:40px;text-align:center}
.post-header .category{border:1px solid #ddd;padding:5px}
.post-header .post-meta {font-size: 0.9rem}
.post-header a:hover{text-decoration:none;}
.post-content img{max-width:100%;display:block;margin:auto}
.lastUpdated{font-size:16px;color:#777;}
blockquote{border-left: 5px solid #ccc; padding: 1rem; background: #eee}
.related h3{font-size:1.2rem;}
.logo{max-width:240px;text-align:center;margin:auto;margin-bottom:20px;}
.preview{width:100%;text-align:center;margin:auto;}
.story-listing h3{font-size:1.3rem;}
.story-listing h4{font-size:1.0rem;color:black}
table ul{list-style-type:none;padding-left:0}
.status-active{color:green;}
.status-discontinued{color:red;}
footer{text-align:center;background:#173f4f;color:white;padding:10px 0 10px 0;}
.heading {
  margin-top: 1rem;
}
.listing {
  text-align: center;
}
.listing a {color: #0079C1}
.item {border: 1px solid #ddd;display: ruby; padding: 10px; line-height: 45px; transition:background 0.5s ease;cursor:pointer;background:#ECEFF1;}
.item:hover {background: #CFD8DC}
.item a{color:black;}
.item a:hover, .item a:focus{text-decoration:none;}
.hidden{display:none}
.center{text-align:center}
.blog {padding-top: 20px}
.blog h3, .blog h2{font-weight: normal;margin: 1rem 0 .5rem}
.blog h2{margin:0;text-transform:uppercase;border-bottom:1px solid #888;margin-bottom:1rem;}
.blog h3 a{font-size: 20px; margin: 1rem 0 .5rem}
.blog h3 a:hover {text-decoration: none}
.blog .date {text-align: right;font-size: 12px}
.page-link, .page-link:focus, .page-link:hover {color: #607D8B}
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {background:#607D8B;border-color:#607D8B;}
.blog .page-nav {text-align: center}
.comment-area h3 {font-size: 1.3rem;}
main {padding-top: 55px}
main h2, main h3 {font-weight: bold;}
main h2 {font-size: 1.4em; color: #173f4f}
main h3 {font-size: 1.2em; margin: 2em 0 1rem}
main h4 {font-size: 1em; margin: 1em 0}
main .recent-stories ul{list-style-type: none; padding-left: 0}
.recent-stories a {color: #069}
.recent-stories a:hover {color: #35b9ab}

/* Override bootstrap defaults */
.form-control {
  border-radius: none;
}
.form-control:focus {
  box-shadow: none;
}

.distribution h1, .desktop h1 {font-size:  1.5rem; margin-top: 1rem; text-align: center}
.distribution h2 {border-bottom: 1px solid #eee; margin-top: 2rem; margin-bottom: 1rem}
.desktop {height: fill-available; height: -moz-available; height: -webkit-fill-available}

pre.highlight {background: #173f4f; color: white; padding: 1rem}
p img+em {display: block;text-align: center; border-bottom: 1px dashed #eee; font-style: normal; font-size: 15px}

@media (max-width: 430px) {
  #search-field {
    font-size: 0.8rem;
    font-weight: normal
  }
  #search-btn {display: none}
  body {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  blockquote ul {
    padding-left: 1rem;
  }
}

@media (max-width: 240px) {
  .navbar {
    padding: 0rem 0.2rem;
  }
}
