/* Nested navbar */
body {font-size: 1.1rem; line-height: 2rem}
a {color: teal}
.navbar {border-bottom: 1px solid #ddd}
.navbar-brand {color:teal !important;}
.navbar-small {padding: 0rem 1rem; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-bottom: none}
.navbar-small .navbar-brand {font-size: 1.1rem}
.navbar-small .nav-link {font-size: 1rem}
.navbar-small .social-icons img {height: 25px}
.nvabar-toggler {border: none}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
/* end of navbar */

#master-section {
  background-color: teal;
  text-align: center;
  padding: 20vh 0 10vh 0;
}
#master-section h1 {

  color: white;
}
.description {
  color: #dddddd;
  font-size: 1.2rem;
}
#search-btn {
  height: 100%;
}
#search-area {
  height: 4rem;;
  margin: 2rem 0 2rem 0;
}
#search-field {
  font-weight: bold;
  border-radius: 0px;
}
#result-list {
  background: white;
  text-align: left;
  list-style: none;
  font-size: 1.2rem;
  position: relative;
  z-index: 2;
  display: none;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #ddd;
}
#result-list ul { padding-left: 0; margin-bottom: 0}
#result-list li{
  list-style: none;
}
#result-list a {
  display: block;
  height: 100%;
  padding: 0.5rem 0.8rem;
}
#result-list a:hover {
  background: #79a7a7;
  color: white;
  text-decoration: none;
}
.recent-additions {color: white; text-align: center;}
.recent-additions h2 {font-size: 16px; color: #ddd; text-align: left}
.recent-additions a {width: 100%; padding: 1rem; border: 1px solid rgba(0,0,0,0.2); display: grid; color: #ddd}
.recent-additions a:hover {text-decoration: none; background: rgba(0,0, 0, 0.2); transition:background 0.2s ease}
/* Stories*/
.stories h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.stories h3 {
  font-size: 1.1rem;
  font-weight: normal;
}
.stories a{
  color: teal;
}
.stories .story {
  padding-bottom: 1rem;
}
.story p{font-size:16px; line-height: 1.5rem}

/**old styles**/
.social-icons img{height:35px;}
.social-icons, .social-icons li{display:inline;}
.post-header h1{font-size:1.6rem;padding-top:40px;text-align:center}
.post-header .category{border:1px solid #ddd;padding:5px}
.post-header a:hover{text-decoration:none;}
.post-content{font-size:1em;line-height:1.7em;}
.post-content img{max-width:100%;display:block;margin:auto}
.post-content p{font-size: 1.1rem;line-height:2rem}
.post-content h3{font-size:1.3rem;margin-top:2rem; text-decoration: underline}
.lastUpdated{font-size:16px;color:#777;}
blockquote{position:relative;margin:0;font-weight:400;text-align:justify;padding:15px;color:#000;background:#f0f0f0;}
.related h3{font-size:1.2rem;}
.content{background:white;}
.logo{max-width:240px;text-align:center;margin:auto;margin-bottom:20px;}
.preview{width:100%;text-align:center;margin:auto;}
.story-listing h3{font-size:1.3rem;}
.story-listing h4{font-size:1.0rem;color:black}
table ul{list-style-type:none;padding-left:0}
.status-active{color:green;}
.status-discontinued{color:red;}
footer{text-align:center;background:teal;color:white;padding:10px 0 10px 0;}
.heading {
  margin-top: 1rem;
}
.listing {
  text-align: center;
}
.listing a {color: black}
.item {border: 1px solid #ddd;display: ruby; padding: 10px; line-height: 45px; transition:background 0.5s ease;cursor:pointer;background:#ECEFF1;}
.item:hover {background: #CFD8DC}
.item a{color:black;}
.item a:hover, .item a:focus{text-decoration:none;}
.hidden{display:none}
.center{text-align:center}
.blog {padding-top: 20px}
.blog h2{margin:0;text-transform:uppercase;border-bottom:1px solid #888;margin-bottom:1rem;}
.blog h3 a{font-size: 20px; color:teal}
.blog h3 a:hover {text-decoration: none}
.blog .date {text-align: right;font-size: 12px}
.page-link, .page-link:focus, .page-link:hover {color: #607D8B}
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {background:#607D8B;border-color:#607D8B;}
.blog .page-nav {text-align: center}
.comment-area h3 {font-size: 1.3rem;}
main {padding-top: 60px}
main h2 {font-size: 1.4rem; color: #173f4f}
main h3 {font-size: 1rem;}
main .recent-stories ul{list-style-type: none; padding-left: 0}
.recent-stories a {color: #069}
.recent-stories a:hover {color: #6da741}

/* Override bootstrap defaults */
.form-control {
  border-radius: none;
}
.form-control:focus {
  box-shadow: none;
}

.distribution h1, .desktop h1 {font-size:  1.5rem; margin-top: 1rem; text-align: center}
.distribution h2 {border-bottom: 1px solid #eee; margin-top: 2rem; margin-bottom: 1rem}
.desktop {height: fill-available; height: -moz-available; height: -webkit-fill-available}

@media (max-width: 430px) {
  #search-field {
    font-size: 0.8rem;
    font-weight: normal
  }
  #search-btn {display: none}
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  blockquote ul {
    padding-left: 1rem;
  }
}

@media (max-width: 240px) {
  .navbar {
    padding: 0rem 0.2rem;
  }
}