---
---

$primary-blue: #007bff;
$--color-border-secondary: #ebedef;

.navbar-small {
  padding: 0rem 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .navbar-brand {
    font-size: 1.1rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .social-icons {
    img {
      height: 32px;
    }
  }
}

body {
  background: #f7f7f7;
  font-size: 1.1rem;
  line-height: 2rem;
}

main {
  background: white;
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
    opacity: 0.8;
  }
  h4 {
    font-size: 1em;
  }
}

.social-icons {
  display: inline;
  img {
    height: 25px;
  }
  li {
    display: inline;
  }
}

#master-section {
  text-align: center;
  padding: 10vh 0 12vh 0;
  h1 {
    color: #4a86cf;
    font-weight: normal;
  }
  .description {
    color: #dddddd;
    font-size: 1.1rem;
  }
  #search-btn {
    height: 100%;
  }
  #search-area {
    height: 4rem;
    margin: 2rem 0 2rem 0;
  }
  #search-field {
    border-radius: 0px;
  }
  #result-list {
    background: white;
    text-align: left;
    list-style: none;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    display: none;
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #ddd;
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      list-style: none;
    }
    a {
      display: block;
      height: 100%;
      padding: 0.5rem 0.8rem;
    }
    a:hover {
      background: #4a86cf;
      color: white;
      text-decoration: none;
    }
  }

  .lead-link {
    a {
      color: white;
      display: block;
      margin-top: 1rem;
      border: 1px solid #888;
      transition: background 0.5s;
      &:hover {
        background: rgba(256, 256, 256, 0.2);
      }
      &.donate {
        background: #ffc439;
        border-radius: 1rem;
        color: black;
        border: none;
        &:hover {
          background: #ffc439dd;
        }
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
  .card {
    border: none;
    margin: 0.5rem 0rem;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    -moz-transition: all 0.25s ease; /* Firefox */
    -ms-transition: all 0.25s ease; /* IE 9 */
    -o-transition: all 0.25s ease; /* Opera */
    transition: all 0.25s ease;
    img {
      width: auto;
    }
    .card-body {
      font-size: 14px;
      background-color: #2c2c2c;
      padding: 1.25rem;
    }
    &:hover {
      -webkit-transform: scale(1.01); /* Safari and Chrome */
      -moz-transform: scale(1.01); /* Firefox */
      -ms-transform: scale(1.01); /* IE 9 */
      -o-transform: scale(1.01); /* Opera */
      transform: scale(1.01);
      z-index: 5;
      text-decoration: none;
    }
    .card-title {
      padding: 1.25rem;
      margin-bottom: 0;
      border-bottom: 3px solid #ffab00;
      font-size: 16px;
      font-family: open sans, sans-serif;
    }
    .date-container {
      text-align: right;
      position: relative;
      margin-top: -43px;
      .date {
        padding: 2px 4px;
        background-color: #e91e63;
        color: #fff;
        font-size: 12px;
        margin-top: 11px;
        float: left;
        border-radius: 2px;
        width: auto;
        line-height: 1.5;
      }
      .mock {
        height: 3rem;
      }
    }
  }
  .card-text {
    margin: 0;
    color: #cecccc;
    line-height: 1.5;
    font-family: open sans, sans-serif;
  }
}

.stories h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.more-stories {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.blog {
  padding-top: 20px;
  h2 {
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    margin-bottom: 1rem;
  }
  .pagination {
    margin-top: 2rem;
  }
}

footer {
  text-align: center;
  padding: 5px 0 5px 0;
  width: 100%;
}

/* Individual post styles */
.post-content {
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
  h2 {
    border-bottom: 1px solid $--color-border-secondary;
    padding-bottom: 0.3em;
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }
}

.post-header {
  .category {
    border: 1px solid #ddd;
    padding: 5px;
  }
  .post-meta {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
    padding-top: 40px;
    text-align: center;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

blockquote {
  border-left: 5px solid #ccc;
  padding: 1rem;
  background: #eee;
  li {
    margin-bottom: 0.25rem;
  }
}

/* Desktop & OS pages */
.logo {
  max-width: 240px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.preview {
  width: 100%;
  text-align: center;
  margin: auto;
}
.story-listing {
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
    color: black;
  }
}
table {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  td + td {
    word-break: break-word;
  }
}
.status-active {
  color: green;
}
.status-discontinued {
  color: red;
}

.distribution h1,
.desktop h1,
.screenshots h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
.distribution h2 {
  border-bottom: 1px solid #eee;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.screenshots {
  h2 {
    font-weight: normal;
    font-size: 1.3em;
    border-bottom: 1px solid #eee;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
  }
}
pre.highlight {
  background: #173f4f;
  color: white;
  padding: 1rem;
  line-height: 1.5rem;
}
p img + em {
  display: block;
  text-align: center;
  border-bottom: 1px dashed #eee;
  font-style: normal;
  font-size: 15px;
}
/* Tab Display Fix */
.tab-content > table.active {
  display: inline-table;
}
.navbar-brand img {
  width: 24px;
  margin-right: 0.5rem;
}

/* Syntax highlight */

.highlight {
  pre {
    padding: 1rem;
    background: #343a40;
    color: #f8f9fa;
  }
  .hll {
    background-color: #222222;
  }
  background: #000000;
  color: #cccccc;
  .c {
    color: yellow;
  }
  .err {
    color: #cccccc;
    border: 1px solid #ff0000;
  }
  .esc {
    color: #cccccc;
  }
  .g {
    color: #cccccc;
  }
  .k {
    color: #cdcd00;
  }
  .l {
    color: #cccccc;
  }
  .n {
    color: #cccccc;
  }
  .o {
    color: #3399cc;
  }
  .x {
    color: #cccccc;
  }
  .p {
    color: #cccccc;
  }
  .ch {
    color: #000080;
  }
  .cm {
    color: #000080;
  }
  .cp {
    color: #000080;
  }
  .cpf {
    color: #000080;
  }
  .c1 {
    color: #000080;
  }
  .cs {
    color: #cd0000;
    font-weight: bold;
  }
  .gd {
    color: #cd0000;
  }
  .ge {
    color: #cccccc;
    font-style: italic;
  }
  .gr {
    color: #ff0000;
  }
  .gh {
    color: #000080;
    font-weight: bold;
  }
  .gi {
    color: #00cd00;
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #000080;
    font-weight: bold;
  }
  .gs {
    color: #cccccc;
    font-weight: bold;
  }
  .gu {
    color: #800080;
    font-weight: bold;
  }
  .gt {
    color: #0044dd;
  }
  .kc {
    color: #cdcd00;
  }
  .kd {
    color: #00cd00;
  }
  .kn {
    color: #cd00cd;
  }
  .kp {
    color: #cdcd00;
  }
  .kr {
    color: #cdcd00;
  }
  .kt {
    color: #00cd00;
  }
  .ld {
    color: #cccccc;
  }
  .m {
    color: #cd00cd;
  }
  .s {
    color: #cd0000;
  }
  .na {
    color: #cccccc;
  }
  .nb {
    color: #cd00cd;
  }
  .nc {
    color: #00cdcd;
  }
  .no {
    color: #cccccc;
  }
  .nd {
    color: #cccccc;
  }
  .ni {
    color: #cccccc;
  }
  .ne {
    color: #666699;
    font-weight: bold;
  }
  .nf {
    color: #cccccc;
  }
  .nl {
    color: #cccccc;
  }
  .nn {
    color: #cccccc;
  }
  .nx {
    color: #cccccc;
  }
  .py {
    color: #cccccc;
  }
  .nt {
    color: #cccccc;
  }
  .nv {
    color: #00cdcd;
  }
  .ow {
    color: #cdcd00;
  }
  .w {
    color: #cccccc;
  }
  .mb {
    color: #cd00cd;
  }
  .mf {
    color: #cd00cd;
  }
  .mh {
    color: #cd00cd;
  }
  .mi {
    color: #cd00cd;
  }
  .mo {
    color: #cd00cd;
  }
  .sa {
    color: #cd0000;
  }
  .sb {
    color: #cd0000;
  }
  .sc {
    color: #cd0000;
  }
  .dl {
    color: #cd0000;
  }
  .sd {
    color: #cd0000;
  }
  .s2 {
    color: #cd0000;
  }
  .se {
    color: #cd0000;
  }
  .sh {
    color: #cd0000;
  }
  .si {
    color: #cd0000;
  }
  .sx {
    color: #cd0000;
  }
  .sr {
    color: #cd0000;
  }
  .s1 {
    color: #cd0000;
  }
  .ss {
    color: #cd0000;
  }
  .bp {
    color: #cd00cd;
  }
  .fm {
    color: #cccccc;
  }
  .vc {
    color: #00cdcd;
  }
  .vg {
    color: #00cdcd;
  }
  .vi {
    color: #00cdcd;
  }
  .vm {
    color: #00cdcd;
  }
  .il {
    color: #cd00cd;
  }
}

/* End of syntax highlight */

a.download {
  background: #0693e3;
  margin: auto;
  display: block;
  width: max-content;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.5s ease;
  border-radius: 4px;
  &:hover {
    background-color: #007bffbf;
  }
  margin: 1em auto;
  font-size: 1.125em;
}

$breakpoint-md: 768px;
@media (min-width: $breakpoint-md) {
  aside ins.adsbygoogle {
    margin-top: 50px;
  }
}
