---
layout: default
---
<div class="blog">
  <!-- Pagination is active -->
  {% assign paginator = page.paginator %}

  {% if paginator.previous_page != nil or paginator.next_page != nil %}
  <!-- Show page number if we have multiple pages -->
  <h1>Category ➜ {{ page.title }} ({{ paginator.page }} / {{ paginator.total_pages }})</h1>
  {% else %}
  <!-- No page number if we only have a single page -->
  <h1>Category ➜ {{ page.title }}</h1>
  {% endif %}
  <hr />
  <div class="row stories category-page">
    <!-- Show post excerpts for the current page -->
    {% for post in paginator.posts limit:paginator.per_page %}
    <div class="col-md-4">
      <a href="{{post.url}}">
        <div class="card">
          <img alt="{{post.title}}"
            src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ post.image }}&w=400&output=jpg" />
          <h3 class="card-title">{{ post.title }}</h3>
          <div class="card-body">
            <div class="date-container">
              <div class="date">{{ post.date | date_to_string}}</div>
              <div class="mock"></div>
            </div>
            <div class="card-text">{{ post.content | strip_html | truncatewords: 30, '...'}}</div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <!-- Show navigation next/previous page links if applicable -->
  {% if paginator.total_pages > 1 %}
  <div class="page-nav">
    <ul class="pagination justify-content-center pagination-sm flex-wrap">
      <!-- {% if paginator.previous_page %}
      <li class="page-item"><a class="page-link"
          href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link">Previous</a></li>
      {% endif %} -->

      {% for pageNo in (1..paginator.total_pages) %}

      {% if pageNo == paginator.page %}
      <li class="page-item active"><a class="page-link">{{ pageNo | pnumber }}</a></li>
      {% elsif pageNo == 1 %}
      <li class="page-item"><a class="page-link" href="/category/{{page.title | slugify}}">{{ pageNo | pnumber
          }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="/category/{{page.title | slugify}}/page{{pageNo}}">{{ pageNo |
          pnumber }}</a></li>
      {% endif %}

      {% endfor %}

      <!-- {% if paginator.next_page %}
      <li class="page-item"><a class="page-link"
          href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link">Next</a></li>
      {% endif %} -->
    </ul>
  </div>
  {% endif %}
</div>