---
layout: default
---
<div class="row">
    <div class="col-md-8 order-md-1 content">
        <div class="post">
            
                <div class="post-header">
            
                    <h1 class="post-title">{{ page.title }}</h1>
                    <hr>
                </div>
                <article class="post-content">
                    {% if page.logo %}
                    <div class="logo">
                        <a href="/assets/images/logo/{{ page.logo }}">
                            <img src="/assets/images/logo/{{ page.logo }}" alt="{{ page.title}} logo"/>
                        </a>
                    </div>
                    {% endif %}
                    {{ content }}
                    <div class="preview">
                        <a href="/assets/images/preview/{{ page.preview }}">
                            <img src="/assets/images/preview/{{ page.preview }}" alt="{{ page.title}} preview"/>
                        </a>
                    </div>
                    <hr>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- post body2 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6380671811722843"
                         data-ad-slot="9117305104"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <table class="table table-bordered">
                        {% if page.home_page %}
                        <tr>
                            <td>Home Page</td>
                            <td><a href="{{ page.home_page }}" target="_blank">{{page.home_page}}</a></td>
                        </tr>
                        {% endif %}
                        {% assign dist_rank = nil %}
                        {% for desktop in site.data.rank.desktops %}
                            {% if desktop.url == page.url %}
                                {% assign dist_rank = desktop.current %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td>Page Hit Rank (rank/views)</td>
                            <td>
                                <a href="/page-hit-rank">
                                {% if dist_rank %}
                                    {{dist_rank.rank}} ({{dist_rank.count}} hits per month)
                                {% else %}
                                    &infin;
                                {% endif %}
                                </a>
                            </td>
                        </tr>
                         {% if page.releases %}
                        <tr>
                            <td>Releases</td>
                            <td>
                                <ul>
                                    {% for release in page.releases %}
                                    <li><a href="{{release[1]}}">{{release[0]}}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% assign distributions = '' | split: '' %}
                        {% for candidate in site.pages %}
                            {% if candidate.Category == 'Distribution' and candidate.desktops contains page.uid %}
                                {% assign distributions = distributions | push: candidate %}
                            {% endif %}
                        {% endfor %}
                        {% assign count = distributions | size %}
                        {% if count > 0 %}
                        <tr>
                            <td>Distributions with {{ page.title }}</td>
                            <td>
                                <ul>
                                    {% for distribution in distributions %}
                                        <li><a href="{{distribution.permalink}}">{{distribution.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </article>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Feed sidebar -->
                <div class="ad">
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6380671811722843" data-ad-slot="8487642304" data-ad-format="auto">
                </ins>
                </div>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% if site.categories[page.uid] or page.stories%}
                <hr>
                <div class="story-listing">
                    <h3>Other stories on {{page.title}}</h3>
                    <ul>
                        {% for story in page.stories %}
                        <li><a href="{{story[1]}}">{{story[0]}}</a></li>
                        {% endfor %} {% for story in site.categories[page.uid] %}
                        <li><a href="{{story.url}}">{{story.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <hr/>
                <!--Disqus comment box-->
                <div class="comment-area">
                    <h3>What do you think about {{page.title}}?</h3>
                    <div id="disqus_thread"></div>
                    <script>
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://theopensourcefeed.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <!—- ShareThis BEGIN -—>
                    <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5d14f9cbf55c0f00125670fb&product="sticky-share-buttons"></script>
                    <!—- ShareThis END -—>
                </div
                <!-- End of comment box -->
            </div>
    </div>
    <div class="col-md-2 order-md-0"></div>
    <div class="col-md-2 order-md-2"></div>
</div>
<!—- ShareThis BEGIN -—>
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5d14f9cbf55c0f00125670fb&product="sticky-share-buttons"></script>
<!—- ShareThis END -—>