---
layout: default
---
<div class="post">

    <div class="post-header">

        <h1 class="post-title">{{ page.title }}</h1>
        <hr>
    </div>
    <article class="post-content">
        <div class="logo">
            <img src="/assets/images/{{ page.logo }}" alt="{{ page.title}} logo"/>
        </div>
        {{ content }}
        {% if page.preview %}
        <div class="preview">
            <img src="/assets/images/{{ page.preview }}" alt="{{ page.title}} preview"/>
        </div>
        {% endif %}
        <hr>
        <table class="table table-bordered">
            {% if page.home_page %}
            <tr>
                <td>Home Page</td>
                <td><a href="{{ page.home_page }}" target="_blank">{{page.home_page}}</a></td>
            </tr>
            {% endif %}
            {% if page.base %}
            <tr>
                <td>Base distributions</td>
                <td>
                {% for base in page.base %}
                    {% assign to_distro = null %}
                    {% for candidate in site.pages %}
                        {% if candidate.Category == 'Distribution' and candidate.uid == base %}
                            {% assign to_distro = candidate %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    <ul>
                        {% if to_distro %}
                            <li><a href="{{to_distro.permalink}}">{{to_distro.title}}</a></li>
                        {% else %}
                            <li>{{base}}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
                </td>
            {% endif %}
            {% if page.desktops %}
            <tr>
                <td>Desktop Envrionments</td>
                <td>
                    <ul>
                    {% for desktop in page.desktops %}
                        {% assign to_desktop = null %}
                        {% for page in site.pages %}
                            {% if page.Category == 'Desktop' and page.uid == desktop %}
                                {% assign to_desktop = page %}
                                {% break %}
                            {% endif %}
                        {% endfor %}

                        {% if to_desktop %}
                            <li><a href="{{to_desktop.url}}">{{to_desktop.title}}</a></li>
                        {% else %}
                        <li>{{desktop}}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </table>
    </article>
    <hr>
    {% if site.categories[page.uid] %}
        <div class="story-listing">
        <h3>Stories on {{page.title}}</h3>
        <ul>
        {% for story in site.categories[page.uid] %}
            <li><a href="{{story.url}}">{{story.title}}</a></li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    
</div>