---
 layout: default 
---
<div class="row">
    <div class="col-md-8 order-md-1 content">
        <div class="post">

            <div class="post-header">

                <h1 class="post-title">{{ page.title }}</h1>
                <hr>
            </div>
            <article class="post-content">
                <div class="logo">
                    <a href="/assets/images/logo/{{ page.logo }}">
                        <img src="/assets/images/logo/{{ page.logo }}" alt="{{ page.title}} logo"/>
                    </a>
                </div>
                {{ content }} {% if page.preview %}
                <div class="preview">
                    <a href="/assets/images/preview/{{ page.preview }}">
                            <img src="/assets/images/preview/{{ page.preview }}" alt="{{ page.title}} featured image"/>
                        </a>
                </div>
                {% endif %}
                <hr>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- post body2 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6380671811722843"
                     data-ad-slot="9117305104"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <table class="table table-bordered">
                    {% if page.type %}
                    <tr>
                        <td>Type</td>
                        <td>{{page.type}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Status</td>
                        {% if page.status and page.status == 'Discontinued' %}
                        <td class="status-discontinued">Discontinued</td>
                        {% else %}
                        <td class="status-active">Active {{page.status}}</td>
                        {% endif %}
                    </tr>

                    {% if page.home_page %}
                    <tr>
                        <td>Home Page</td>
                        <td><a href="{{ page.home_page }}">{{page.home_page}}</a></td>
                    </tr>
                    {% endif %} 
                    {% assign dist_rank = nil %}
                    {% for distribution in site.data.rank.distributions %}
                        {% if distribution.url == page.url %}
                            {% assign dist_rank = distribution.current %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Page Hit Rank (rank/views)</td>
                        <td>
                            <a href="/page-hit-rank">
                            {% if dist_rank %}
                                {{dist_rank.rank}}({{dist_rank.count}} hits per month)
                            {% else %}
                                &infin;
                            {% endif %}
                            </a>
                        </td>
                    </tr>
                    {% if page.base %}
                    <tr>
                        <td>Base distributions</td>
                        <td>
                            <ul>
                                {% for base in page.base %} {% assign to_distro = null %} {% for candidate in site.pages %} {% if candidate.Category == 'Distribution'
                                and candidate.uid == base %} {% assign to_distro = candidate %} {% break %} {% endif %} {%
                                endfor %} {% if to_distro %}
                                <li><a href="{{to_distro.permalink}}">{{to_distro.title}}</a></li>
                                {% else %}
                                <li>{{base}}</li>
                                {% endif %} {% endfor %}
                            </ul>
                        </td>
                        {% endif %} {% if page.desktops %}
                        <tr>
                            <td>Desktop Envrionments</td>
                            <td>
                                <ul>
                                    {% for desktop in page.desktops %} {% assign to_desktop = null %} {% for page in site.pages %} {% if page.Category == 'Desktop'
                                    and page.uid == desktop %} {% assign to_desktop = page %} {% break %} {% endif %} {%
                                    endfor %} {% if to_desktop %}
                                    <li><a href="{{to_desktop.url}}">{{to_desktop.title}}</a></li>
                                    {% else %}
                                    <li>{{desktop}}</li>
                                    {% endif %} {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %} {% assign distributions = '' | split: '' %} {% for candidate in site.pages %} {% if candidate.Category == 'Distribution'
                        and candidate.base contains page.uid %} {% assign distributions = distributions | push: candidate
                        %} {% endif %} {% endfor %} {% assign count = distributions | size %} {% if count > 0 %}
                        <tr>
                            <td>Distributions based on {{page.title}}</td>
                            <td>
                                <ul>
                                    {% for distribution in distributions %}
                                    <li><a href="{{distribution.permalink}}">{{distribution.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %} {% if page.releases %}
                        <tr>
                            <td>Releases</td>
                            <td>
                                <ul>
                                    {% for release in page.releases %}
                                    <li><a href="{{release[1]}}">{{release[0]}}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% if page.screenshots %}
                        <tr>
                            <td>Screenshots</td>
                            <td>
                                <ul>
                                    {% for screenshot in page.screenshots %}
                                    <li><a href="{{screenshot[1]}}">{{screenshot[0]}}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% if page.technologies %}
                        <tr>
                            <td>Underlying technologies</td>
                            <td>{{ page.technologies }}
                        </tr>
                        {% endif %}
                        {% comment %}
                        {% if page.purchase %}
                        <tr>
                            <td>Buy {{page.title}}</td>
                            <td>
                              <ul>
                            	{% for p in page.purchase %}
                            	
                                    <li>
                                    {%if p[0] == 'OSDisc' %}
                                    	<a href="{{p[1]}}?affiliate=niyasc">
                                    {% else %}
                                        <a href="{{p[1]}}">
                                    {% endif %}
                                    {{p[0]}}
                                    </a>
                                    </li>
                                {% endfor %}
                              </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% endcomment %}
                        {% if page.telegram %}
                        <tr>
                            <td>Telegram Channel(s)</td>
                            <td>
                                <ul>
                                {% for channel in page.telegram %}
                                    <li><a href="{{channel[1]}}" target="_blank">{{channel[0]}} - {{channel[1]}}</a></li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                </table>
            </article>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Feed sidebar -->
            <div class="ad">
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6380671811722843" data-ad-slot="8487642304" data-ad-format="auto">
                </ins>
            </div>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% if page.review %}
            <hr>
            <div class="story-listing">
                <h2>Reviews of {{page.title}}</h2>
                <ul>
                    {% for review in page.reviews %}
                    <li><a href="{{review[1]}}">{{review[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %} {% if site.categories[page.uid] or page.stories%}
            <hr>
            <div class="story-listing">
                <h2>Other stories on {{page.title}}</h2>
                <ul>
                    {% for story in page.stories %}
                    <li><a href="{{story[1]}}">{{story[0]}}</a></li>
                    {% endfor %} {% for story in site.categories[page.uid] %}
                    <li><a href="{{story.url}}">{{story.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <hr/>
            {% if page.faq %}
            <div class="story-listing">
                <h2>Frequently asked questions on {{page.title}}</h2>
                <ol>
                {% for faq in page.faq %}
                <li>
                    <h4>{{faq[0]}}</h4>
                    <p>{{faq[1]}}</p>
                </li>
                {% endfor %}
                </ol>
            </div>
            {% endif %}
            <hr />
            <!--Disqus comment box-->
            <div class="comment-area">
                <h2>What do you think about {{page.title}}?</h2>
                <div id="disqus_thread"></div>
                <script>
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://theopensourcefeed.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div
            <!-- End of comment box -->
        </div>
    </div>
    <div class="col-md-2 order-md-0"></div>
    <div class="col-md-2 order-md-2"></div>
</div>
