---
layout: default
---
<div class="post">

    <div class="post-header">

        <h1 class="post-title">{{ page.title }}</h1>
        <hr>
    </div>
    <article class="post-content">
        <div class="logo">
            <a href="/assets/images/logo/{{ page.logo }}">
                <img src="/assets/images/logo/{{ page.logo }}" alt="{{ page.title}} logo"/>
            </a>
        </div>
        {{ content }}
        {% if page.preview %}
        <div class="preview">
            <a href="/assets/images/preview/{{ page.preview }}">
                <img src="/assets/images/preview/{{ page.preview }}" alt="{{ page.title}} preview"/>
            </a>
        </div>
        {% endif %}
        <hr>
        <table class="table table-bordered">
            {% if page.type %}
            <tr>
                <td>Type</td>
                <td>{{page.type}}</td>
            </tr>
            {% endif %}
            {% if page.home_page %}
            <tr>
                <td>Home Page</td>
                <td><a href="{{ page.home_page }}" target="_blank">{{page.home_page}}</a></td>
            </tr>
            {% endif %}
            {% if page.base %}
            <tr>
                <td>Base distributions</td>
                <td>
                    <ul>
                    {% for base in page.base %}
                        {% assign to_distro = null %}
                        {% for candidate in site.pages %}
                            {% if candidate.Category == 'Distribution' and candidate.uid == base %}
                                {% assign to_distro = candidate %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                            {% if to_distro %}
                                <li><a href="{{to_distro.permalink}}">{{to_distro.title}}</a></li>
                            {% else %}
                                <li>{{base}}</li>
                            {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            {% endif %}
            {% if page.desktops %}
            <tr>
                <td>Desktop Envrionments</td>
                <td>
                    <ul>
                    {% for desktop in page.desktops %}
                        {% assign to_desktop = null %}
                        {% for page in site.pages %}
                            {% if page.Category == 'Desktop' and page.uid == desktop %}
                                {% assign to_desktop = page %}
                                {% break %}
                            {% endif %}
                        {% endfor %}

                        {% if to_desktop %}
                            <li><a href="{{to_desktop.url}}">{{to_desktop.title}}</a></li>
                        {% else %}
                        <li>{{desktop}}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% assign distributions = '' | split: '' %}
            {% for candidate in site.pages %}
                {% if candidate.Category == 'Distribution' and candidate.base contains page.uid %}
                    {% assign distributions = distributions | push: candidate %}
                {% endif %}
            {% endfor %}
            {% assign count = distributions | size %}
            {% if count > 0 %}
            <tr>
                <td>Distributions based on {{page.title}}</td>
                <td>
                    <ul>
                        {% for distribution in distributions %}
                            <li><a href="{{distribution.permalink}}">{{distribution.title}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if page.screenshots %}
            <tr>
                <td>Screenshots</td>
                <td>
                    <ul>
                    {% for screenshot in page.screenshots %}
                        <li><a href="{{screenshot[1]}}">{{screenshot[0]}}</a></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </table>
    </article>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Feed sidebar -->
    <div class="ad">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6380671811722843" data-ad-slot="8487642304" data-ad-format="auto">
    </ins>
    </div>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% if page.reviews %}
        <div class="story-listing">
            <h3>Reviews of {{page.title}}</h3>
            <ul>
            {% for review in page.reviews %}
                <li><a href="{{review[1]}}">{{review[0]}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if site.categories[page.uid] or page.stories%}
        <hr>
        <div class="story-listing">
            <h3>Stories on {{page.title}}</h3>
            <ul>
            {% for story in page.stories %}
                <li><a href="{{story[1]}}">{{story[0]}}</a></li>
            {% endfor %}
            {% for story in site.categories[page.uid] %}
                <li><a href="{{story.url}}">{{story.title}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    
</div>
