--- 
layout: default 
---

{% for post in site.posts %}
<div class="row post-thumbnail">
    <!--<div class="col-md-4">
        <div class="img-thumbnail">
            <img src="http://placekitten.com/720/340">
        </div>
    </div>-->
    <div class="col-md-12">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
    </div>
</div>
{% endfor %}