--- 
layout: default
---
<div class="row">
	<div class="col-lg-8 order-lg-1 content">
		<div class="post">

			<div class="post-header">

				<h1 class="post-title">{{ page.title }}</h1>
				<hr>
				<div class="row post-meta">
					<div class="col-sm-4">
						<div class="date">{{ page.date | date: "%B %-d, %Y" }}</div>
					</div>
					<div class="col-sm-8 text-right">
						{% for category in page.categories %}
						{% assign topage = null %}
						{% for page in site.pages %}
						{% if page.uid == category %}
						{% assign topage = page %}
						{% endif %}
						{% endfor %}
						{% if topage %}
						<a href="{{topage.url}}">
							<span class="category">{{topage.title}}</span>
						</a>
						{% else %}
						<span class="category">{{category}}</span>
						{% endif %}
						{% endfor %}
					</div>
				</div>


				<hr>
				<div class="ad">	
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- header - ad -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-6380671811722843"
					     data-ad-slot="8215370559"
					     data-ad-format="horizontal"
					     data-full-width-responsive="false"></ins>
					<script>
					     (adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>

			<article class="post-content">
				{{ content }}
				{% if page.attribution %}
				<div class="attribution">
					Powered by {{page.attribution}}
				</div>
				{% endif %}
				{% if page.video %}
				<h2>
					{% if page.videoTitle %} {{page.videoTitle}} {% else %} Video Preview {% endif %}
				</h2>
				<div class="video-responsive">
				<iframe width="100%" src="{{page.video}}" title="Preview Video" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<br/><br/>
				For more videos, subscribe our channel <strong>DistroScreens</strong> on YouTube.
				<script src="https://apis.google.com/js/platform.js"></script>
				<div class="g-ytsubscribe" data-channelid="UCeYNsHx2DsAdDeXKI-zx6gQ" data-layout="full" data-count="hidden"></div>
				{% endif %}
			</article>
		</div>
		<hr>
		<!--Content recommendation ad-->
			<ins class="adsbygoogle"
			style="display:block"
			data-ad-format="autorelaxed"
			data-ad-client="ca-pub-6380671811722843"
			data-ad-slot="4323854165"></ins>
		 <!-- End of content recommendation ad -->
		<hr>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Feed sidebar -->
		<div class="ad">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6380671811722843" data-ad-slot="8487642304" data-ad-format="auto">
			</ins>
		</div>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

{% if page.hidden or page.disclaimer %}
<div class="disclaimer">
	<strong>Disclaimer</strong>
		<p>The views, opinions, and content expressed in the above article are solely those of the author and do not reflect
			the opinions, beliefs, or positions of OpenSourceFeed.org or its parent organization, Tahrik Studio.
			OpenSourceFeed.org and Tahrik Studio assume no responsibility or liability for the accuracy, completeness, or
			reliability of any information presented in this article.</p>

		<p>Readers are strongly advised to independently verify the information and conduct their own research before making
			any decisions or taking action based on the content of the above article. </p>
</div>
{% endif %}
			
		<div class="related">
			<h3>Related Stories</h3>
			{% if site.related_posts %}
			<ul>
				{% for post in site.related_posts limit:6 %}
				<li>
					<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				</li> 
				{% endfor %}
			</ul>
			{% endif %}

		</div>
		<div id="disqus_thread"></div>
		<script>
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://theopensourcefeed.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
<div class="col-lg-2 order-lg-0">

</div>
<div class="col-lg-2 order-lg-2">

</div>
</div>
