--- 
layout: default
---
<div class="row">
	<div class="col-md-8 order-md-1 content">
		<div class="post">

			<div class="post-header">

				<h1 class="post-title">{{ page.title }}</h1>
				<hr>
				<div class="row post-meta">
					<div class="col-sm-4">
						<div class="date">{{ page.date | date: "%B %-d, %Y" }}</div>
					</div>
					<div class="col-sm-8 text-right">
						{% for category in page.categories %}
						{% assign topage = null %}
						{% for page in site.pages %}
						{% if page.uid == category %}
						{% assign topage = page %}
						{% endif %}
						{% endfor %}
						{% if topage %}
						<a href="{{topage.url}}">
							<span class="category">{{topage.title}}</span>
						</a>
						{% else %}
						<span class="category">{{category}}</span>
						{% endif %}
						{% endfor %}
					</div>
				</div>


				<hr>
			</div>


			<article class="post-content">
				{{ content }}
			</article>
		</div>
		<hr>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Feed sidebar -->
		<div class="ad">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6380671811722843" data-ad-slot="8487642304" data-ad-format="auto">
			</ins>
		</div>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<hr>
		<div class="related">
			<h3>Related Stories</h3>
			{% if site.related_posts %}
			<ul>
				{% for post in site.related_posts limit:6 %}
				<li>
					<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				</li> 
				{% endfor %}
			</ul>
			{% endif %}

		</div>
		<div id="disqus_thread"></div>
		<script>
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://theopensourcefeed.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
<div class="col-md-2 order-md-0"></div>
<div class="col-md-2 order-md-2"></div>
</div>
